<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sharkwords Game</title>
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <h4 id="title">Sharkwords </h4>
        <!-- <div> -->
        <section id="shark-img">
            <img src="/static/images/guess0.png">
        </section>
        <!-- </div> -->

        <a id="play-again" style="display: none;"> 🦈 The shark got you! Click here to play again. </a>
        <a id="win" style="display: none;"> Congratulations! 🥳 You won! </a>

        <section id="word-container"></section>
        <section id="letter-buttons"></section>

        <script src="/static/main.js"></script>

    </body>
</html>
